<mat-list>
  <h3 mat-subheader>My Files</h3>
  <mat-list-item class="list-item">
    <mat-icon matListIcon>folder</mat-icon>
    <div matLine class="item-text">
      <span>文档API设计.md</span>
    </div>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list-item">
    <mat-icon matListIcon>folder</mat-icon>
    <div matLine class="item-text">
      <span>文档API设计.md</span>
    </div>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="list-item">
    <mat-icon matListIcon>folder</mat-icon>
    <div matLine class="item-text">
      <span>文档API设计.md</span>
    </div>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
  </mat-list-item>
</mat-list>
