@import "../../../var";

.login{
  display: flex;
  justify-content: center;
  height: 75%;
  mat-card{
    align-self: center;
    margin-top: -45%;
    background-color: $my-dashboard-background;
    box-shadow: none;
  }
}

.login-form{
  display: flex;
  flex-wrap: wrap;
  mat-form-field{
    flex-basis: 100%;
  }
}

.login-action{
  display: flex;
}
