<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css">
</head>
<body>

<div class="modal fade" th:fragment="update">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">文件上传</h4>
                </div>
            <form action="/update" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-1">
                            <div class="form-group">
                                <label for="exampleInputFile">文件:</label>
                                <input type="file" name="file" class="form-control" id="exampleInputFile">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPath">路径:</label>
                                <input type="text" name="path" value="/home/web_as/markdown/" class="form-control" id="exampleInputPath">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>