

body {
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #EAE8DF;
    color: #2c3f51;
    font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,Song,sans-serif;
}
.treeview{
    overflow: hidden;
}
.glyphicon {
    top: 3px;;
}

.left-panel {
    width: 20%;
    min-height: 100vh;
    background-color: #ECEDE8;
    position: fixed;
    left: 0;
    top:0;
}

.middle-panel, .right-panel {
    width: 77%;
    min-height: 100vh;
    margin-left: 20%;
}

.right-panel {
    width: 35px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #575756;
}
.right-panel .right-tools{
    margin-top: 50px;
    color: rgb(187, 187, 187);
}
.right-panel>ul>li{
    display: block;
    font-size: 2rem;
    padding: 20px 0;
}
.right-panel li>span:hover{
    color: #fff;
    cursor: pointer;
}

.left-panel .title {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
    display: block;
}

.left-tools {
    width: 300px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 1000;
}

.left-tools .refresh:hover {
    color: #4B5666;
    font-size: 2rem;
    padding: 5px;
}

.left-panel .list-group .list-group-item {
    width: 100%;
    background: #F9FAFB;
    border-left: none;
    border-right: none;
}

.dropdown-menu .pull-right {
    right: 0;
    left: auto;
}
#tree{
    width:100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 0;
    padding-right: 0;
}

/*目录树样式*/
#category-list{
    width: 300px;
    overflow-y: auto;
    margin-right: 40px;
    margin-top: -40px;
    background-color: rgba(255,255,255,.9);
}
#category-list .cate-title{
    font-size: 21px;
    padding: 10px;
    font-weight: bold;
    color: #333445;
    width: 100%;
}
#category-list>a{
    padding: 0;
    font-size: 14px;
}
.category{
    min-height: 200px;
    overflow-y: auto;
    max-height: 600px;
    border-top: 1px dashed black;
    margin-top: 10px;
    padding-top: 5px;
}
.category .toc>ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.category .toc ul{
    list-style: none;
}
.category .toc>ul>li>ul{
    padding-left: 0;
}
.category .toc>ul>li>ul ul{
    padding-left: 25px;
}
.category li{
    padding: 0 ;
}
.category a{
    color: #08c;
    text-decoration: none;
    display: inline;
    padding: 3px 10px;
    clear: both;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.category a:hover{
    color: #71c8cc;
}

/*markdown样式*/
.preview-panel {
    position: relative;
    max-width: 960px;
    margin: auto;
    left: 0;
    transform: none !important;
    overflow: visible;
    display: block !important;
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-weight: bold;
    margin: 1.2em 0 .6em 0;
    text-align: start;
}
h1{
    color: #0077bb;
}
blockquote {
    background-color: rgba(102,128,153,0.05);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px;
    margin: 0 0 1.1em;
    border-left: 10px solid rgba(102,128,153,0.075);
}
blockquote p {
    margin-bottom: 1.1em;
    font-size: 1em;
    line-height: 1.45;
    font-weight: 300;
}
blockquote p:last-child {
    margin-bottom: 0;
}

table{
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    min-width: 700px;
    text-align: left;
    border-top: 1px solid #7ebbcc;
}
th,td{
    padding: .5em;
    border: 1px solid #7ebbcc;
    vertical-align: top;
    line-height: 1.5rem;
}
img{
    max-height: 800px;
    max-width: 1000px;
    overflow-x: scroll;
}
p{
    font-family: inherit;
    line-height: 2.3rem;
}

/*代码配色*/
/*亮*/
.hljs-light .hljs {
    display: block;
    padding: .5em;
    background-color: #f0f0f0
}

.hljs-light .hljs, .hljs-light .hljs-subst, .hljs-light .hljs-tag .hljs-title, .hljs-light .lisp .hljs-title, .hljs-light .clojure .hljs-built_in, .hljs-light .nginx .hljs-title {
    color: #000
}

.hljs-light .hljs-string, .hljs-light .hljs-title, .hljs-light .hljs-constant, .hljs-light .hljs-parent, .hljs-light .hljs-tag .hljs-value, .hljs-light .hljs-rules .hljs-value, .hljs-light .hljs-rules .hljs-value .hljs-number, .hljs-light .hljs-preprocessor, .hljs-light .hljs-pragma, .hljs-light .haml .hljs-symbol, .hljs-light .ruby .hljs-symbol, .hljs-light .ruby .hljs-symbol .hljs-string, .hljs-light .hljs-aggregate, .hljs-light .hljs-template_tag, .hljs-light .django .hljs-variable, .hljs-light .smalltalk .hljs-class, .hljs-light .hljs-addition, .hljs-light .hljs-flow, .hljs-light .hljs-stream, .hljs-light .bash .hljs-variable, .hljs-light .apache .hljs-tag, .hljs-light .apache .hljs-cbracket, .hljs-light .tex .hljs-command, .hljs-light .tex .hljs-special, .hljs-light .erlang_repl .hljs-function_or_atom, .hljs-light .asciidoc .hljs-header, .hljs-light .markdown .hljs-header, .hljs-light .coffeescript .hljs-attribute {
    color: #800
}

.hljs-light .smartquote, .hljs-light .hljs-comment, .hljs-light .hljs-annotation, .hljs-light .hljs-template_comment, .hljs-light .diff .hljs-header, .hljs-light .hljs-chunk, .hljs-light .asciidoc .hljs-blockquote, .hljs-light .markdown .hljs-blockquote {
    color: #888
}

.hljs-light .hljs-number, .hljs-light .hljs-date, .hljs-light .hljs-regexp, .hljs-light .hljs-literal, .hljs-light .hljs-hexcolor, .hljs-light .smalltalk .hljs-symbol, .hljs-light .smalltalk .hljs-char, .hljs-light .go .hljs-constant, .hljs-light .hljs-change, .hljs-light .lasso .hljs-variable, .hljs-light .makefile .hljs-variable, .hljs-light .asciidoc .hljs-bullet, .hljs-light .markdown .hljs-bullet, .hljs-light .asciidoc .hljs-link_url, .hljs-light .markdown .hljs-link_url {
    color: #080
}

.hljs-light .hljs-label, .hljs-light .hljs-javadoc, .hljs-light .ruby .hljs-string, .hljs-light .hljs-decorator, .hljs-light .hljs-filter .hljs-argument, .hljs-light .hljs-localvars, .hljs-light .hljs-array, .hljs-light .hljs-attr_selector, .hljs-light .hljs-important, .hljs-light .hljs-pseudo, .hljs-light .hljs-pi, .hljs-light .haml .hljs-bullet, .hljs-light .hljs-doctype, .hljs-light .hljs-deletion, .hljs-light .hljs-envvar, .hljs-light .hljs-shebang, .hljs-light .apache .hljs-sqbracket, .hljs-light .nginx .hljs-built_in, .hljs-light .tex .hljs-formula, .hljs-light .erlang_repl .hljs-reserved, .hljs-light .hljs-prompt, .hljs-light .asciidoc .hljs-link_label, .hljs-light .markdown .hljs-link_label, .hljs-light .vhdl .hljs-attribute, .hljs-light .clojure .hljs-attribute, .hljs-light .asciidoc .hljs-attribute, .hljs-light .lasso .hljs-attribute, .hljs-light .coffeescript .hljs-property, .hljs-light .hljs-phony {
    color: #88f
}

.hljs-light .hljs-keyword, .hljs-light .hljs-id, .hljs-light .hljs-title, .hljs-light .hljs-built_in, .hljs-light .hljs-aggregate, .hljs-light .css .hljs-tag, .hljs-light .hljs-javadoctag, .hljs-light .hljs-phpdoc, .hljs-light .hljs-yardoctag, .hljs-light .smalltalk .hljs-class, .hljs-light .hljs-winutils, .hljs-light .bash .hljs-variable, .hljs-light .apache .hljs-tag, .hljs-light .go .hljs-typename, .hljs-light .tex .hljs-command, .hljs-light .asciidoc .hljs-strong, .hljs-light .markdown .hljs-strong, .hljs-light .hljs-request, .hljs-light .hljs-status {
    font-weight: bold
}

.hljs-light .asciidoc .hljs-emphasis, .hljs-light .markdown .hljs-emphasis {
    font-style: italic
}

.hljs-light .nginx .hljs-built_in {
    font-weight: normal
}

.hljs-light .coffeescript .javascript, .hljs-light .javascript .xml, .hljs-light .lasso .markup, .hljs-light .tex .hljs-formula, .hljs-light .xml .javascript, .hljs-light .xml .vbscript, .hljs-light .xml .css, .hljs-light .xml .hljs-cdata {
    opacity: .5
}
/*黑*/
.hljs-dark {
    background: #f6f6f6;
    line-height: 1.6;
    font-size: 1.5rem;
}

.hljs-dark .hljs {
    display: block;
    padding: .5em;
    background: #23241f
}

.hljs-dark .hljs, .hljs-dark .hljs-tag, .hljs-dark .css .hljs-rules, .hljs-dark .css .hljs-value, .hljs-dark .css .hljs-function .hljs-preprocessor, .hljs-dark .hljs-pragma {
    color: #f8f8f2
}

.hljs-dark .hljs-strongemphasis, .hljs-dark .hljs-strong, .hljs-dark .hljs-emphasis {
    color: #a8a8a2
}

.hljs-dark .hljs-bullet, .hljs-dark .hljs-blockquote, .hljs-dark .hljs-horizontal_rule, .hljs-dark .hljs-number, .hljs-dark .hljs-regexp, .hljs-dark .alias .hljs-keyword, .hljs-dark .hljs-literal, .hljs-dark .hljs-hexcolor {
    color: #ae81ff
}

.hljs-dark .hljs-tag .hljs-value, .hljs-dark .hljs-code, .hljs-dark .hljs-title, .hljs-dark .css .hljs-class, .hljs-dark .hljs-class .hljs-title:last-child {
    color: #a6e22e
}

.hljs-dark .hljs-link_url {
    font-size: 80%
}

.hljs-dark .hljs-strong, .hljs-dark .hljs-strongemphasis {
    font-weight: bold
}

.hljs-dark .hljs-emphasis, .hljs-dark .hljs-strongemphasis, .hljs-dark .hljs-class .hljs-title:last-child {
    font-style: italic
}

.hljs-dark .hljs-keyword, .hljs-dark .hljs-function, .hljs-dark .hljs-change, .hljs-dark .hljs-winutils, .hljs-dark .hljs-flow, .hljs-dark .lisp .hljs-title, .hljs-dark .clojure .hljs-built_in, .hljs-dark .nginx .hljs-title, .hljs-dark .tex .hljs-special, .hljs-dark .hljs-header, .hljs-dark .hljs-attribute, .hljs-dark .hljs-symbol, .hljs-dark .hljs-symbol .hljs-string, .hljs-dark .hljs-tag .hljs-title, .hljs-dark .hljs-value, .hljs-dark .alias .hljs-keyword:first-child, .hljs-dark .css .hljs-tag, .hljs-dark .css .unit, .hljs-dark .css .hljs-important {
    color: #f92672
}

.hljs-dark .hljs-function .hljs-keyword, .hljs-dark .hljs-class .hljs-keyword:first-child, .hljs-dark .hljs-constant, .hljs-dark .css .hljs-attribute {
    color: #66d9ef
}

.hljs-dark .hljs-variable, .hljs-dark .hljs-params, .hljs-dark .hljs-class .hljs-title {
    color: #f8f8f2
}

.hljs-dark .hljs-string, .hljs-dark .css .hljs-id, .hljs-dark .hljs-subst, .hljs-dark .haskell .hljs-type, .hljs-dark .ruby .hljs-class .hljs-parent, .hljs-dark .hljs-built_in, .hljs-dark .sql .hljs-aggregate, .hljs-dark .django .hljs-template_tag, .hljs-dark .django .hljs-variable, .hljs-dark .smalltalk .hljs-class, .hljs-dark .django .hljs-filter .hljs-argument, .hljs-dark .smalltalk .hljs-localvars, .hljs-dark .smalltalk .hljs-array, .hljs-dark .hljs-attr_selector, .hljs-dark .hljs-pseudo, .hljs-dark .hljs-addition, .hljs-dark .hljs-stream, .hljs-dark .hljs-envvar, .hljs-dark .apache .hljs-tag, .hljs-dark .apache .hljs-cbracket, .hljs-dark .tex .hljs-command, .hljs-dark .hljs-prompt, .hljs-dark .hljs-link_label, .hljs-dark .hljs-link_url {
    color: #e6db74
}

.hljs-dark .hljs-comment, .hljs-dark .hljs-javadoc, .hljs-dark .java .hljs-annotation, .hljs-dark .python .hljs-decorator, .hljs-dark .hljs-template_comment, .hljs-dark .hljs-pi, .hljs-dark .hljs-doctype, .hljs-dark .hljs-deletion, .hljs-dark .hljs-shebang, .hljs-dark .apache .hljs-sqbracket, .hljs-dark .tex .hljs-formula {
    color: #75715e
}

.hljs-dark .coffeescript .javascript, .hljs-dark .javascript .xml, .hljs-dark .tex .hljs-formula, .hljs-dark .xml .javascript, .hljs-dark .xml .vbscript, .hljs-dark .xml .css, .hljs-dark .xml .hljs-cdata, .hljs-dark .xml .php, .hljs-dark .php .xml {
    opacity: .5
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

