body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background-color: #EEEEEE;
    overflow-y: auto;
    overflow-x: auto;
}
/*左边树样式*/
.site-tree{
    position: fixed;
    width: 21%;
    min-height: 100vh;
    left: 0;
    border-right:2px solid #e2e2e2;
    overflow: hidden;
}
.site-tree .tree-content{
    display: inline-block;
    max-width: 95%;
    padding-left: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.fresh-tree{
    position: fixed;
    bottom: 5px;
    left: 8%;
}
.layui-tree li{
    overflow: inherit;
}
/*中间栏样式*/
.tree-content>ul{
    width: 90%;
}

.site-content{
    position: absolute;
    top: 0;
    left: 21%;
    width: 76%;
}
.site-content .layui-tab{
    position: relative;
    min-height: 80vh;
    z-index: 999;
    margin-top: -5px;
    margin-bottom: 10px;
}
.layui-tab-title{
    position: fixed;
    left: 21%;
    width: 76%;
    background-color: #EEEEEE;
}
.layui-tab-content .layui-show{
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 3.01%;
    left: 21%;
}

/*工具栏样式*/
.site-tools{
    position: fixed;
    right: 0;
    top: 0;
    width: 3%;
    text-align: center;
}
.site-tools .layui-nav-side{
    right: 0;
    left: auto;
    width: 3%;
    min-width: 45px;
}
.site-tools>ul{
    padding-top: 100px;
}

.site-tools>ul li{
    padding: 10px 0;
}
.site-tools .layui-nav-bar{
    margin-top: 10px;
}
.layui-nav-tree .layui-nav-item a,.layui-nav-tree .layui-this {
    background-color: #393D49;
}
.layui-input-block{
    width: 10%;
    overflow: inherit;
}

/*文章目录*/
.content-tree{
    padding: 5px 10px;
}
.content-tree ul ul{
    margin-left: .7em;
}
.content-tree a{
    color: #01AAED;
}
.content-tree a:hover,.content-tree a:active{
    color: #1AA094;
}

/*文本对比样式*/
.compare-area{
    background-color: gray;
}
.compareTo {
    margin-left: 15px;
}
.showCompare{
    position: relative;
}
.comparediff{
    max-width: 795px;
}
.diff{
    min-height: 100px;
    white-space:normal;
    word-wrap:break-word;
    width: 100%;
    overflow-y: auto;
}
ins {
    background-color: #c6ffc6;
    text-decoration: none;
}
del {
    background-color: #ffc6c6;
}
/*比较面板 end*/

/*文件上传面板*/
.layui-form-select{
    min-width: 300px;
}