<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>Temp-File-Viewer</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!--material icon-->
  <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="styles.8e5a08cccb469321778d.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.a66f828dca56eeb90e02.js"></script><script type="text/javascript" src="polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="scripts.4d54a4f8f34ead24aeca.js"></script><script type="text/javascript" src="main.5f6e77561cf3c1a768c9.js"></script></body>
</html>
