<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Markdown展示</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{static/layui/css/layui.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{static/css/index.css}">
    <link rel="stylesheet" href="../static/css/markdown.css" th:href="@{static/css/markdown.css}">
    <link rel="stylesheet" href="../static/css/icon/iconfont.css" th:href="@{static/css/icon/iconfont.css}">
</head>
<body>

<!--左边树形菜单-->
<div class="site-tree">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>我的文件</legend>
    </fieldset>
    <div class="tree-content">
        <ul id="tree-content"></ul>
    </div>
    <div class="fresh-tree">
        <button class="layui-btn layui-btn-radius" onclick="freshCategory()"><i class="iconfont icon-shuaxin"></i></button>
    </div>
</div>
<!--中间markdown内容区-->
<div class="site-content">
    <div class="layui-tab" lay-allowClose="true" lay-filter="tabfilter">
        <ul class="layui-tab-title">
            <li class="layui-this">首页</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="preview-panel">
                    <h1>欢迎使用Markdown View Tools</h1>
                </div>
                <!--文章树形目录-->
                <div style="display: none;" id="content-tree">
                    <div class="content-tree" >

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右边工具栏-->
<div class="site-tools">
    <ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test">
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="freshArticle()"><i class="iconfont icon-shuaxin"></i></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="uploadMd()"><i class="iconfont icon-upload"></i></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="downloadMd()" ><i class="iconfont icon-download-copy"></i></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="deleteMd()" ><i class="layui-icon">&#xe640;</i></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:void(0);" onclick="compareFile()"><i class="iconfont icon-iconzhenghe64"></i></a>
        </li>
    </ul>

</div>

<script src="../static/layui/layui.js" th:src="@{static/layui/layui.js}"></script>
<script src="../static/js/md2html.js" th:src="@{static/js/md2html.js}"></script>
<script src="../static/js/highlight.min.js" th:src="@{static/js/highlight.min.js}"></script>
<script src="../static/js/index.js" th:src="@{static/js/index.js}"></script>
</body>
</html>