@import "../../../var";
@import "~prismjs/themes/prism-okaidia.css";

@media screen and (min-width: 1280px) {
  .article {
    width: 1250px;
  }
}

@media screen and (min-width: 980px) {
  .article{
    width: 950px;
  }
}

article{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.article {
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 2;
  font-size: 16px;
  font-weight: 400;

  .article-title {
    width: 100%;
    h1 {
      text-align: center;
    }
  }

  // custom scss start

  h1, h2, h3, h4, h5, h6 {
    font-family: "Heiti SC";
    color: #0079D2;
    font-size: 1.0em;
    font-weight: bold;
  }

  h1 {
    color: #0079D2;
    font-size: 1.6em;
    text-align: left;
    line-height: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
  }

  h2, h3 {
    line-height: 1.5em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.35em;
  }

  h3 {
    font-size: 1.2em;
  }

  a {
    color: #4685C0;
  }

  p {
    margin-bottom: 21px;

    & > code {
      padding: 2px 4px;
      word-wrap: break-all;
      color: #0063C5;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      background-color: rgba(27, 31, 35, .05);
      word-break: break-all;
      &:before {
        content: '`';
      }
      &:after {
        content: '`';
      }
    }
  }

  pre {
    font-size: 12px;
    line-height: 2;
  }

  blockquote {
    font-family: Roboto, "Helvetica Neue", "Segoe UI", Verdana, Tahoma, BiauKai, Kai, KaiTi, sans-serif;
  }

  strong {
    color: #000;
  }

  img {
    margin-top: 20px;
    width: 100%;
  }

}
