@import "../../../var";
@import "~prismjs/themes/prism-okaidia.css";

@media screen and (min-width: 1280px) {
  .article {
    width: 1250px;
  }
}

@media screen and (min-width: 980px) {
  .article {
    width: 950px;
  }
}

article {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.article {
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;

  .article-title {
    width: 100%;
    h1 {
      text-align: center;
    }
  }

  .article-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  markdown {
    width: 100%;
  }

  // custom scss start

  h1, h2, h3, h4, h5, h6 {
    font-family: "Heiti SC";
    color: #0079D2;
    font-size: 1.0em;
    font-weight: bold;
  }

  h1 {
    color: #0079D2;
    font-size: 1.6em;
    text-align: left;
    line-height: 1.6em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
  }

  h2, h3 {
    line-height: 1.5em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.35em;
  }

  h3 {
    font-size: 1.2em;
  }

  a {
    color: #4685C0;
  }

  p {
    margin-bottom: 21px;
  }

  p >code,li > code {
    padding: 2px 4px;
    word-wrap: break-word;
    color: #0063C5;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    background-color: rgba(27, 31, 35, .05);
    word-break: break-all;
    &:before {
      content: '`';
    }
    &:after {
      content: '`';
    }
  }

  pre {
    font-size: 12px;
    line-height: 2;
    code {
      font-size: inherit;
    }
  }

  blockquote {
    font-family: Roboto, "Helvetica Neue", "Segoe UI", Verdana, Tahoma, BiauKai, Kai, KaiTi, sans-serif;
    p {
      color: rgba(0, 0, 0, .735);
    }
  }

  strong {
    color: #000;
  }

  img {
    margin-top: 20px;
    max-width: 100%;
  }

}
